<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCvAEUw7TpUsqtRQxNXHIgPNlw2B3FVpiM</string>
	<key>GCM_SENDER_ID</key>
	<string>166465470578</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>rs.atelje.vasiljev</string>
	<key>PROJECT_ID</key>
	<string>vasiljev-atelje</string>
	<key>STORAGE_BUCKET</key>
	<string>vasiljev-atelje.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:166465470578:ios:ab1d790261c61d9b8242eb</string>
</dict>
</plist>